[submodule "ext/tinyxml2"]
	path = ext/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ext/uni-algo-single-include"]
	path = ext/uni-algo-single-include
	url = https://github.com/uni-algo/uni-algo-single-include
[submodule "sdk/llvm-project"]
	path = sdk/llvm-project
	url = https://github.com/ameisen/llvm-project.git
	branch = mipsc-16.0.5
[submodule "sdk/musl"]
	path = sdk/musl
	url = https://github.com/ameisen/musl.git
	branch = mips-musl-1.2.4
[submodule "sdk/zstd"]
	path = sdk/zstd
	url = https://github.com/facebook/zstd.git
[submodule "sdk/xz"]
	path = sdk/xz
	url = https://github.com/tukaani-project/xz.git
	branch = v5.4.3
